
[submodule "ProcessorTests"]
	path = ProcessorTests
	url = https://github.com/TomHarte/ProcessorTests
[submodule "nes-test-roms"]
	path = nes-test-roms
	url = https://github.com/christopherpow/nes-test-roms
